<!-- <html>

  <head>
    <title> 호에에에엥 </title>
    <style>
      body {
        color: #fff;
      }
    </style>
  </head>

</html> -->

<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png"> -->
    <!-- <meta name="msapplication-config" content="/browserconfig.xml"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    body {
        padding: 20px;
        font-family: 'Nanum Gothic';
    }

    pre {
        border-top: 1px solid #0af;
    }
    </style>

    <title> 호에엥</title>
  </head>

  <body>
    <p>
    남기고 싶은 글은 남겨보세요.
    </p>
      <form method="post" action="/post">
          <textarea class="form-control" width="300px" name="msg" maxlength="1024" > </textarea> <br>
          <input class="btn btn-outline-dark" type="submit" value="Submit">
      </form>
  {% if name %}
    <h1>Hello {{ name }}!</h1>
  {% else %}
  <font color={{color}}>
    <h1> {{ count }}!</h1>
  </font>
  {% endif %}

  {% for msg in msgLst %}
  <pre class="text-break">{{msg}}</pre>
  {% endfor %}
  </body>
  </html>
